# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#ant specific
dist/
build/
build.xml
 
#netbeans specific
core
nbproject/*
libs/*
manifest.mf
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

#idea specific
.classpath
.project
.settings
.idea
.metadata
*.iml
*.ipr
**/*~
/target/
/test/
